*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* width: 700px;
    height: 844px; */
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

header{
    height: 15%;
}

nav{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    margin: 0;
    padding: 0 10px;
}

main section{
    display: block;
}



.footer{
    display: flex;
    padding-top: 160px;
    padding-bottom: 160px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #999;
}


#nav{
    border-color: rgba(0, 0, 0, 0);
    transform: translate3d(0px, 0%, 0px);
    transform-style: preserve-3d ;   
}

body{
    font-family: Messinasansweb, sans-serif;
    color: #1b1b1e;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

div{
    display: block;
}

h1{
    margin-top: 0px;
    font-family: 'Galaxiecopernicus book', sans-serif;
    color: black;
    font-size: 65px;
    line-height: 76px;
    font-weight: 400;
}

h2{
    margin-top: 0;
    margin-bottom: 100px;
    color: black;
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
}